<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cch.jeonju"
    android:versionCode="5"
    android:versionName="1.2.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8502738532357663~3398713056" />

        <activity android:name=".MemberInitActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".BoardWriteActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".InfoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API키" />

        <activity android:name=".MapActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>